# API KEYS
OPENCODE_GO_API_KEY=""
OPENCODE_ZEN_API_KEY=""

# SETTINGS
SKILL_PATH=~/.agents/skills/
NOTIFICATION_SOUND=~/.config/notification_sound.mp3

# COLORS
C_DIM='\e[38;5;244m'
GUM_DIM="#93a1a1"
GUM_OK="#34d399"
GUM_WARN="#e5c07b"
GUM_WRITE_CURSOR_FOREGROUND="#e5c07b"
GUM_WRITE_PROMPT_FOREGROUND="#e5c07b"
GUM_CHOOSE_CURSOR_FOREGROUND="#e5c07b"
GUM_CHOOSE_SELECTED_FOREGROUND="#34d399"
BORDER_FOREGROUND="#3B4252"
GUM_INPUT_PROMPT_FOREGROUND="#e5c07b"
GUM_INPUT_CURSOR_FOREGROUND="#e5c07b"
GUM_CONFIRM_SELECTED_BACKGROUND="#e5c07b"
